@import 'tailwindcss';

@import './inheritance.css';

.grecaptcha-badge {
  visibility: hidden !important;
}

.recaptcha-notice {
  margin-top: 10px;
  font-size: 10px;
  color: #798494;
  line-height: 1.5;
}

.recaptcha-notice a {
  text-decoration: underline;
}
